@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');
/*font-family: 'Oswald', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-color:rgb(224, 224, 224);
}
#corpo {
    width: 200px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: -3px 1px 15px rgba(0, 0, 0, 0.486);
    transition: .4s;
    transition-delay: .2s;
}

#corpo:hover {
    width: 250px;
    border-radius: 15px;
    transition: .4s;
    transition-delay: .2s;
}

ul {
    position: relative;
    display:flex;
    gap: 25px;
}

span {
    position: absolute;
}

ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: rgb(76, 253, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.363);
    transition: .5s;
    transition-delay: .2s;
    cursor: pointer;
}

ul li:hover {
    width: 140px;
    border-radius: 20px;
    transition: .5s;
    transition-delay: .2s;
}

ul li ion-icon {
    font-size: 1.7em;
    position: relative;
    display: block;
    transition: .4s;
    transition-delay: .25s;
    opacity: 1;
}

ul li:hover ion-icon {
    transform: scale(0);
    transition-delay: .2s;
    opacity: 0;
}

ul li .text {
    opacity: 0;
    font-size: 1.7em;
    position: relative;
    display: block;
    letter-spacing: .1em;
    transition: .4s;
    transition-delay: .25s;
    transform: scale(0);
}

ul li:hover .text {
    transform: scale(1);
    opacity: 1;
    transition-delay: .2s;
}


